body {
   background-color: cornflowerblue;
   //    display: inline-block;
   text-align: center;
   justify-content: center;
}
.all {
   margin: 250px 0;

   .title {
      width: 300px;
      justify-content: center;
   }
}
